./11/word_transform
./11/restricted_count
./11/word_count
./11/pair
./11/setOps
./11/erasemap
./11/multimap
./11/unorderedWordCount
./11/wcEx
./11/map1
./13/StrFolderMain
./13/FolderMain
./13/HasPtrValueLike
./13/useStrVec
./13/serial
./13/moveHP
./13/substr
./13/HasPtrUseCount
./17/setw
./17/seed
./17/rand4
./17/prec
./17/skipws
./17/game
./17/manips
./17/seek
./17/no-skipws
./17/rand1
./17/bits
./17/findbook
./17/rand2
./17/rand6
./17/getc
./17/getput
./17/normalInts
./17/badgetc
./17/tuple
./17/point
./5/add_item2
./5/othercnt
./5/ifgrades
./5/rangefor
./5/vowels
./5/doWhile
./5/guess
./18/Animal
./18/mi-scope
./18/class
./18/ex-over
./18/over2
./18/book
./18/virt-inherit
./18/over
./18/inherit
./18/usingDirective
./2/scope_levels
./2/inits
./2/compounddecls
./2/escape
./2/convs
./2/ref-ex
./2/Sales_data
./2/dbl_ptr
./2/unsigned
./2/literals
./12/weak
./12/useBlob
./12/usealloc
./12/UP
./12/allocSP
./12/unique
./12/querymain
./12/allocPtr
./12/oknew
./12/usealloc2
./15/wordQueryTest
./15/andQueryTest
./15/Basket_main
./15/sample
./15/vecBasket
./15/virtualsNscope
./15/scope
./15/and_orQueryTest
./15/useQuote
./10/absInt
./10/rcomma
./10/reverse-iter
./10/rev-iters
./10/iostream_iter
./10/ostreamIter2
./10/use_find
./10/equal
./10/accum4
./10/elimDups
./10/newcount-size
./10/use-istream-iter
./10/inserters
./10/avg_price
./10/bind2
./10/accum
./10/sortSI
./10/equiv-istream-iter
./10/reverse
./4/int-div
./4/overflow
./4/shift-prec
./4/prec
./4/vec_init
./4/arith-ex
./4/arraysizeof
./4/cond
./4/unaryOps
./4/warn_dbltoint
./4/incr
./4/sizeof_pgm
./4/oofe
./16/compareSpec
./16/compare
./16/array-parms4
./16/debug
./16/Array
./16/useBlob
./16/useChcking
./16/qm
./16/overSpec
./16/compareDef
./16/SP
./16/overloaded
./16/Vecmain
./16/specialized
./16/multiset
./16/special
./14/fcnobj
./14/calc
./14/absInt
./14/readStr
./14/newcount-size
./14/directcall
./14/add
./9/useConvs
./9/str_assignOps
./9/capacity
./9/stack
./9/substr
./9/refreshIter
./9/erase2
./9/find_ops
./9/erase1
./9/find-str
./6/errMsg_initList
./6/reset
./6/fact
./6/ref-fcn
./6/arrRet
./6/good_printmain
./6/mainmath
./6/refparms
./6/mk_plural
./6/wdebug
./6/usefcnptr
./6/count-calls
./6/refret-ex
./6/fcnptrRet
./6/inline_shorter
./6/stl-arr-fcns
./6/mainret
./19/memFN-bind
./19/bitfields
./19/calc
./19/typeid
./19/dyn_cast
./19/enum-match
./19/useScreen
./19/enum
./7/useAccount.exe
./7/useScreen.exe
./7/avg_price.exe
./7/add_item.exe
./8/fileIO
./8/buf
./8/add_item
./8/clearIO
./8/add_itemV2
./8/sstream
./1/add_item2
./1/item_io
./1/add_item
./1/mysum
./1/main_only
./1/for_ex
./1/forcount
./1/occurs
./1/avg_price
./1/whilecount
./1/add
./3/strcompare
./3/cstring_hdr
./3/multidim
./3/ptr_traversal2
./3/vecSubs
./3/vec_decls
./3/string_size
./3/string_add
./3/square
./3/vecScores
./3/string_io
./3/cctype
./3/char_repl
./3/getline
./3/vecStrings2
./3/string_size2
./3/add_using
./3/hexify
./3/string_size3
./3/arrayScores
./3/word_echo
./3/string_io2
